spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/test?characterEncoding=utf8&useSSL=false
    username: root
    password: root
    hikari:
      minimum-idle: 10
      maximum-pool-size: 30
      auto-commit: true
      pool-name: DatebookHikariCP-test
---
server:
  port: 8771
eureka:
  client:
    service-url:
      defaultZone: http://admin:admin@eureka-server1:8761/eureka,http://admin:admin@eureka-server2:8762/eureka
    register-with-eureka: true
  instance:
    instance-id: service-producer1
    prefer-ip-address: true
    lease-expiration-duration-in-seconds: 5 # 如果现在超过了5秒的间隔（默认是90秒）
    lease-renewal-interval-in-seconds: 2 # 设置心跳的时间间隔（默认是30秒）
spring:
  profiles: producer1
  application:
    name: service-producer
---
server:
  port: 8772
eureka:
  client:
    service-url:
      defaultZone: http://admin:admin@eureka-server1:8761/eureka,http://admin:admin@eureka-server2:8762/eureka
    register-with-eureka: true
  instance:
    instance-id: service-producer2
    prefer-ip-address: true
    lease-expiration-duration-in-seconds: 5 # 如果现在超过了5秒的间隔（默认是90秒）
    lease-renewal-interval-in-seconds: 2 # 设置心跳的时间间隔（默认是30秒）
spring:
  profiles: producer2
  application:
    name: service-producer